div.adiv{
    display: inline-block;
    float: left;
    background-color: cornflowerblue;
    opacity: 60%;
    width: 220px;
    height: 40px;
    align-items: center;
    line-height: 25px;
    text-align: center;
        }
a
{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: Calibri;
    font-size: 18px;
    padding: 5px;
    text-shadow: 1px 1px 1px #555555;
}

div:hover
{
    opacity: 100%;
}

a.achosen
{
    font-weight: bold;
    color: snow;
    font-size: 20px;
    padding: 4px;
}
div.dchosen
{
    opacity: 100%;
}
div.work{
    width: 1540px;
    position: absolute;
    top: 40px;
    text-align: center;
    height: 50px;
    font-size: 18px;
    font-family: Calibri;
    align-items: center;
    background-color: bisque;
    line-height: 50px;
}


